# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Gradle
build/

# Logs
*.log
Logs/

# OS files
Thumbs.db
.DS_Store
.metadata/

# Zipkin executable
Zipkin Server For logs/ZipKin Server/*.jar