<h1 style="color:red;text-align:center">
    student registration page
</h1>

<form action="register" method="POST">

    <table align="center" bgcolor="cyan">

        <tr>
            <td>student id</td>
            <td>
                <input type="number" name="id">
            </td>
        </tr>

        <tr>
            <td>student name</td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>

 <tr>
            <td>age</td>
            <td>
                <input type="number" name="age">
            </td>
        </tr>
        
        <tr>
            <td>gender</td>
            <td>
                <input type="radio" name="gender">Male
                <input type="radio" name="gender">Female
            </td>
        </tr>

        

        <tr>
            <td colspan="2">
                <input type="submit" value="Register">
            </td>
        </tr>

    </table>

</form>